@model IEnumerable<Memento.DomainModel.Cloze>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Any(item => item.IsNew))
{
    @Html.ActionLink("Shuffle new", "ShuffleNew", new { DeckID = Model.First().Card.DeckID })
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDelay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsNew)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDelay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNew)
        </td>
    </tr>
}

</table>
