@model Memento.Models.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Preview";
}

<h2>Preview</h2>

<div>
    <h4>@Html.DisplayFor(model => model.DeckTitle)</h4>
    <hr />

    @using (Html.BeginForm("PreviewOpened", "Cards"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        <div class="topactions">
            @Html.ActionLink("Edit card", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Delete card", "Delete", new { id = Model.ID })
        </div>
        <hr />
        <div class="card-text">
            @Html.Raw(Model.CorrectAnswer)
        </div>
        <hr />
        <input type="submit" value="Next" class="btn btn-default" />
    }
</div>
