@model Memento.Models.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Question";
}

<h2>Question</h2>

<div>
    <h4>@Html.DisplayFor(model => model.DeckTitle)</h4>
    <hr />

    @{Html.RenderPartial("_TopActionsView");}

    @using (Html.BeginForm())
    {

    @Html.AntiForgeryToken()

        Html.RenderPartial("_Question");

        <div>
            @Html.ValidationMessageFor(model => model.UserAnswer, "", new { @class = "text-danger" })
        </div>

        @Html.TextBoxFor(model => model.UserAnswer, new { @class = "focused" })

        <input type="submit" value="Answer" class="btn btn-default" />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
