@using Memento.Interfaces

@model Memento.Models.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Repeat";
}

<h2>Repeat</h2>

<div>
    <h4>@Html.DisplayFor(model => model.DeckTitle)</h4>
    <hr />

    @using (Html.BeginForm("RepeatOpened", "Cards"))
    {
    @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        <div class="topactions">
            @Html.ActionLink("Edit card", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Delete card", "Delete", new { id = Model.ID })
        </div>
        <hr />
        <div class="card-text">
            @Html.Raw(Model.CorrectAnswer)
        </div>
        <hr />

        if (Model.DelayMode == DelayModes.Sharp || Model.DelayMode == DelayModes.Combined)
        {
        <input type="submit" name="AgainButton" value="Again" class="btn btn-default" />
        }

        if (Model.DelayMode == DelayModes.Smooth || Model.DelayMode == DelayModes.Combined)
        {
        <input type="submit" name="BadButton" value="Bad" class="btn btn-default" />
        }

        <input type="submit" name="GoodButton" value="Good" class="btn btn-default" />
    }
</div>
