@model Memento.DomainModel.Card

@{
    ViewBag.Title = "Right";
}

<h2>Right</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Deck.Title)</h4>
    <hr />

    @using (Html.BeginForm("Right", "Cards"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        <div class="topactions">
            @Html.ActionLink("Edit card", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Delete card", "Delete", new { id = Model.ID })
        </div>

        <div>
            @Html.Raw(Model.Text)
        </div>

        <div>You are right!</div>

        <input type="submit" value="Next" class="btn btn-default" />
    }
</div>
