@model Memento.Models.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Typo";
}

<h2>Typo</h2>

<div>
    <h4>@Html.DisplayFor(model => model.DeckTitle)</h4>

    @{Html.RenderPartial("_TopActions");}

    @using (Html.BeginForm("Typo", "Cards"))
    {

    @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        Html.RenderPartial("_Answer");

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">
                    Correct answer:
                </div>
                <div class="col-md-10 short-answer-text">
                    @Html.DisplayFor(model => model.ShortAnswer)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    Your answer:
                </div>
                <div class="col-md-10 short-answer-text">
                    @Html.DisplayFor(model => model.UserAnswer)
                </div>
            </div>
        </div>

        <div class="typo-answer">Your answer looks like a typo!</div>

        <input type="submit" name="TypoButton" value="It's a typo!" class="btn btn-default focused" />
        <input type="submit" name="WrongButton" value="It's a wrong answer!" class="btn btn-default" />
        <input type="submit" name="AltButton" value="It's an alternative answer!" class="btn btn-default" />
    }
</div>
