@model Memento.DomainModel.Models.Card

@{
    ViewBag.Title = "Wrong";
}

<h2>Wrong</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Deck.Title)</h4>
    <hr />

    @using (Html.BeginForm("Wrong", "Cards"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Answer)

        <div class="topactions">
            @Html.ActionLink("Edit card", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Delete card", "Delete", new { id = Model.ID })
        </div>
        <hr />
        <div class="card-text">
            @Html.Raw(Model.Text)
        </div>
        <hr />
        <p>
            Your answer:
            <text>@ViewBag.Answer</text>
        </p>
        <hr />
        <div>You are wrong!</div>
        <input type="submit" name="NextButton" value="Next" class="btn btn-default" />

        <hr />

        <p>Is it an alternative answer?</p>
        <input type="submit" name="AltButton" value="Add it" class="btn btn-default" />
    }
</div>
