@model Memento.Models.Card

@using Memento.Controllers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Deck.Title)</h4>
    <hr />

    @if (Model.ID == -1)
    {
        <div class="topactions">
            @Html.ActionLink("Add card", "Create", new { DeckID = Model.DeckID })
        </div>
        <hr />
        <p>
            It's lonely here.
        </p>
    }
    else
    {
        <p>
            <div class="topactions">
                <a href="#" id="ScrollDown">Scroll down</a> |
                @Html.ActionLink("Add card", "Create", new { DeckID = Model.DeckID }) |
                @Html.ActionLink("Delete card", "Delete", new { id = Model.ID }) |
                @Html.ActionLink("Edit card", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Index", "Index", new { DeckID = Model.DeckID }) |
            </div>
        </p>
        if (ViewBag.State == States.Input)
        {
            @Html.DisplayFor(model => model.Text)
            @Html.TextBoxFor(model => model.Answer)

            <input type="submit" value="Save" class="btn btn-default" />
        }
        else if (ViewBag.State == States.Right)
        {
            <div>You are right!</div>
        }
        else if (ViewBag.State == States.Wrong)
        {
            <div>You are wrong!</div>
        }
        else if (ViewBag.State == States.Typo)
        {
            <div>There is a typo!</div>
        }
        else if (ViewBag.State == States.Correction)
        {
            <div>Let's correct it!</div>
        }
    }
</div>
