@model Neodenit.Memento.Models.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Right";
}

<h2>@Html.DisplayFor(model => model.DeckTitle)</h2>

<h4>Progress: @(Model.Statistics.Stat.OldQuestionCount + Math.Min(1, Model.Statistics.Stat.NewQuestionCount)) / @(Model.Statistics.Stat.OldQuestionCount + Model.Statistics.Stat.NewQuestionCount)</h4>

@{Html.RenderPartial("_TopActions");}

@using (Html.BeginForm("Right", "Cards", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)


    Html.RenderPartial("_Answer");
    Html.RenderPartial("_Comparison");

    <div class="form-group">
        <div class="offset-md-2 col-md-8">
            <div class="right-answer">You are right!</div>
        </div>
    </div>

    <div class="form-group">
        <div class="offset-md-2 col-md-8">
            <input type="submit" value="Next question" class="btn btn-outline-secondary focused" />
        </div>
    </div>
}
