@model Memento.DomainModel.Models.Deck

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script>
        var chartData = {
            answers: @Html.Raw(Json.Encode(ViewBag.Answers)),
            correctAnswers: @Html.Raw(Json.Encode(ViewBag.CorrectAnswers)),
            cards: @Html.Raw(Json.Encode(ViewBag.Cards)),
        }
    </script>

    <script src="~/Scripts/App/Charts.js"></script>
}

<div>
    @Html.ActionLink("Create New Card", "Create", "Cards", new { DeckID = Model.ID }, null) |
    @Html.ActionLink("Clozes Index", "ClozesIndex", "Cards", new { DeckID = Model.ID }, null) |
    @Html.ActionLink("Cards Index", "CardsIndex", "Cards", new { DeckID = Model.ID }, null) |
    @Html.ActionLink("Import", "Import", new { DeckID = Model.ID }) |
    @Html.ActionLink("Export", "Export", new { DeckID = Model.ID }) |
    @Html.ActionLink("Deleted cards", "DeletedIndex", "Cards", new { DeckID = Model.ID }, null) |
    @Html.ActionLink("Draft cards", "DraftIndex", "Cards", new { DeckID = Model.ID }, null)
</div>

<div class="col-md-offset-2 col-md-10">
    <div id="answersPlaceholder" class="chart"></div>
    <div id="correctAnswersPlaceholder" class="chart"></div>
    <div id="cardsNumberPlaceholder" class="chart"></div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Start" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Decks List", "Index")
</div>
