@model Memento.DomainModel.Deck

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

@section Scripts {
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script>
        var chartData = {
            answers: @Html.Raw(Json.Encode(ViewBag.Answers)),
            correctAnswers: @Html.Raw(Json.Encode(ViewBag.CorrectAnswers)),
            cards: @Html.Raw(Json.Encode(ViewBag.Cards)),
        }
    </script>

    <script src="~/Scripts/App/Charts.js"></script>
}

<p>
    @Html.ActionLink("Create New Card", "Create", "Cards", new { DeckID = Model.ID }, null)
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ActionLink("Index", "Index", "Cards", new { DeckID = Model.ID }, null)

    <div class="col-md-offset-2 col-md-10">
        <div id="answersPlaceholder" class="chart"></div>
        <div id="correctAnswersPlaceholder" class="chart"></div>
        <div id="cardsNumberPlaceholder" class="chart"></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Start" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Import", "Import", new { DeckID = Model.ID })
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
