@model IEnumerable<Memento.DomainModel.Models.Deck>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Cards
        </th>
        <th>
            Valid Cards
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelayMode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </td>
            <td>
                @(item.GetAllCards().Count())
            </td>
            <td>
                @(item.GetValidCards().Count())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControlMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelayMode)
            </td>
            <td>
                @Html.ActionLink("Options", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
